# Descarga de históricos de precios

<img style="float: right; margin: 0px 0px 15px 15px;" src="https://upload.wikimedia.org/wikipedia/commons/7/7d/Copper_Price_History_USD.png" width="600px" height="400px" />

> Entonces, en la clase anterior vimos que podemos caracterizar la distribución de rendimientos de un activo mediante una medida de tendencia central (media: rendimiento esperado) y una medida de dispersión (desviación estándar: volatilidad). 

> Estas medidas se pueden calcular cuando tenemos escenarios probables de la economía y conocemos sus probabilidades de ocurrencia. Ahora, si no conocemos dichos escenarios, ¿qué podemos hacer?

*Objetivos:*
- Aprender a importar datos desde archivos separados por comas (extensión `.csv`).
- Descargar el paquete `pandas-datareader`.
- Aprender a descargar datos desde fuentes remotas.

**Referencias:**
- http://pandas.pydata.org/
- https://pandas-datareader.readthedocs.io/en/latest/

## 1. Importar datos desde archivos locales

<img style="float: left; margin: 0px 0px 15px 15px;" src="https://upload.wikimedia.org/wikipedia/commons/8/86/Microsoft_Excel_2013_logo.svg" width="300px" height="125px" />

<img style="float: right; margin: 0px 0px 15px 15px;" src="https://upload.wikimedia.org/wikipedia/commons/0/0a/Python.svg" width="300px" height="125px" />

### 1.1. ¿Porqué?

- Muchas veces tenemos bases de datos proporcionadas como archivos locales.
- Para poder analizar, procesar y tomar decisiones con estos datos, es necesario importarlos a python.
- Ejemplos de archivos donde comúnmente se guardan bases de datos son: 
 - `.xls` o `.xlsx`
 -  `.cvs`
- Excel es ampliamente usado en distintos campos de aplicación en todo el mundo.
- Nos guste o no, esto también aplica a ciencia de datos (ingeniería financiera).
- Muchos de ustedes en su futuro académico y profesional tendrán que trabajar con estas hojas de cálculo, pero no siempre querrán trabajar directamente con ellas si tienen que hacer un análisis un poco más avanzado de los datos.
- Por eso en Python se han implementado herramientas para leer, escribir y manipular este tipo de archivos.

En esta clase veremos cómo podemos trabajar con Excel y Python de manera básica utilizando la librería *pandas*.

### 1.2. Reglas básicas para antes de leer hojas de cálculo

Antes de comenzar a leer una hoja de cálculo en Python (o cualquier otro programa), debemos considerar el ajustar nuestro archivo para cumplir ciertos principios, como:

- La primer fila de la hoja de cálculo se reserva para los títulos, mientras que la primer columna se usa para identificar la unidad de muestreo o indización de los datos (tiempo, fecha, eventos...)
- Evitar nombres, valores o campos con espacios en blanco. De otra manera, cada palabra se interpreta como variable separada y resultan errores relacionados con el número de elementos por línea.
- Los nombres cortos se prefieren sobre nombre largos.
- Evite símbolos como ?, $, %, ^, &, *, (,),-,#, ?, ,,<,>, /, |, \, [ ,] , {, y }.
- Borre cualquier tipo de comentario que haya hecho en su archivo para evitar columnas extras.
- Asegúrese de que cualquier valor inexistente esté indicado como NA.

Si se hizo algún cambio, estar seguro de guardarlo. 

Si estás trabajando con Microsoft Excel, verás que hay muchas opciones para guardar archivos, a parte de las extensiones por defecto .xls or .xlsx. Para esto ir a “Save As” y seleccionar una de las extensiones listadas en “Save as Type”. 

La extensión más común es .csv (archivos de texto separados por comas).

**Actividad.** Descargar precios de acciones de Apple (AAPL) de Yahoo Finance, con una ventana de tiempo desde el 01-01-2015 al 31-12-2017 y frecuencia diaria.

- Ir a https://finance.yahoo.com/.
- Buscar cada una de las compañías solicitadas.
- Dar click en la pestaña *'Historical Data'*.
- Cambiar las fechas en *'Time Period'*, click en *'Apply'* y, finalmente, click en *'Download Data'*.
- **¡POR FAVOR! GUARDAR ESTOS ARCHIVOS EN UNA CARPETA LLAMADA precios EN EL MISMO DIRECTORIO DONDE TIENEN ESTE ARCHIVO**.

### 1.3. Carguemos archivos .csv como ventanas de datos de pandas

Ahora podemos comenzar a importar nuestros archivos.

Una de las formas más comunes de trabajar con análisis de datos es en pandas. Esto es debido a que pandas está construido sobre NumPy y provee estructuras de datos y herramientas de análisis fáciles de usar.

In [1]:
# Importamos pandas
import pandas as pd

Para leer archivos `.csv`, utilizaremos la función `read_csv` de pandas:

In [2]:
# Función read_csv
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer, sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, iterator=False, chunksize=None, compression='infer', thousands=None, decimal=b'.', lineterminator=None, quotechar='"', quoting=0, escapechar=None, comment=None, encoding=None, dialect=None, tupleize_cols=None, error_bad_lines=True, warn_bad_lines=True, skipfooter=0, doublequote=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)
    Read CSV (comma-separated) file into DataFrame

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the `online docs for IO Tools
    <http://pandas.pydata.org/pandas-docs/stable/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, pathlib.Path, py._path.local.LocalPath or any \
    object with a read() method (such as a file handle or StringIO)
        The string could be a URL. Valid URL schemes include http, ftp, s3, and
        file. For file URLs, a host is expected. For instance, a local file could
        be file://localhost/path/to/table.csv
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``
    delimiter : str, default ``None``
        Alternative argument name for sep.
    delim_whitespace : boolean, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'\t'``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.

        .. versionadded:: 0.18.1 support for the Python parser.

    header : int or list of ints, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so header=0 denotes the first line of
        data rather than the first line of the file.
    names : array-like, default None
        List of column names to use. If file contains no header row, then you
        should explicitly pass header=None. Duplicates in this list will cause
        a ``UserWarning`` to be issued.
    index_col : int or sequence or False, default None
        Column to use as the row labels of the DataFrame. If a sequence is given, a
        MultiIndex is used. If you have a malformed file with delimiters at the end
        of each line, you might consider index_col=False to force pandas to _not_
        use the first column as the index (row names)
    usecols : list-like or callable, default None
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid list-like
        `usecols` parameter would be [0, 1, 2] or ['foo', 'bar', 'baz']. Element
        order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : boolean, default False
        If the parsed data only contains one column then return a Series
    prefix : str, default None
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : boolean, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, default None
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, default None
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels
    true_values : list, default None
        Values to consider as True
    false_values : list, default None
        Values to consider as False
    skipinitialspace : boolean, default False
        Skip spaces after delimiter.
    skiprows : list-like or integer or callable, default None
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c')
    nrows : int, default None
        Number of rows of file to read. Useful for reading pieces of large files
    na_values : scalar, str, list-like, or dict, default None
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'n/a', 'nan',
        'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : boolean, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file
    verbose : boolean, default False
        Indicate number of NA values placed in non-numeric columns
    skip_blank_lines : boolean, default True
        If True, skip over blank lines rather than interpreting as NaN values
    parse_dates : boolean or list of ints or names or list of lists or dict, default False

        * boolean. If True -> try parsing the index.
        * list of ints or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call result
          'foo'

        If a column or index contains an unparseable date, the entire column or
        index will be returned unaltered as an object data type. For non-standard
        datetime parsing, use ``pd.to_datetime`` after ``pd.read_csv``

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : boolean, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : boolean, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, default None
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : boolean, default False
        DD/MM format dates, international and European format
    iterator : boolean, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, default None
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <http://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and
        `filepath_or_buffer` is path-like, then detect compression from the
        following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
        decompression). If using 'zip', the ZIP file must contain only one data
        file to be read in. Set to None for no decompression.

        .. versionadded:: 0.18.1 support for 'zip' and 'xz' compression.

    thousands : str, default None
        Thousands separator
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    float_precision : string, default None
        Specifies which converter the C engine should use for floating-point
        values. The options are `None` for the ordinary converter,
        `high` for the high-precision converter, and `round_trip` for the
        round-trip converter.
    lineterminator : str (length 1), default None
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : boolean, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), default None
        One-character string used to escape delimiter when quoting is QUOTE_NONE.
    comment : str, default None
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, default None
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_
    dialect : str or csv.Dialect instance, default None
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    tupleize_cols : boolean, default False
        .. deprecated:: 0.21.0
           This argument will be removed and will always convert to MultiIndex

        Leave a list of tuples on columns as is (default is to convert to
        a MultiIndex on the columns)
    error_bad_lines : boolean, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : boolean, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    low_memory : boolean, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser)
    memory_map : boolean, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.

    Returns
    -------
    result : DataFrame or TextParser

In [3]:
# Cargamos hoja de calculo en un dataframe
filepath = 'precios/AAPL.csv'
aapl = pd.read_csv(filepath)
aapl

,Date,Open,High,Low,Close,Adj Close,Volume
0,2015-01-02,111.389999,111.440002,107.349998,109.330002,102.319397,53204600
1,2015-01-05,108.290001,108.650002,105.410004,106.250000,99.436890,64285500
2,2015-01-06,106.540001,107.430000,104.629997,106.260002,99.446251,65797100
3,2015-01-07,107.199997,108.199997,106.699997,107.750000,100.840714,40105900
4,2015-01-08,109.230003,112.150002,108.699997,111.889999,104.715256,59364500
5,2015-01-09,112.669998,113.250000,110.209999,112.010002,104.827553,53699500
6,2015-01-12,112.599998,112.629997,108.800003,109.250000,102.244522,49650800
7,2015-01-13,111.430000,112.800003,108.910004,110.220001,103.152313,67091900
8,2015-01-14,109.040001,110.489998,108.500000,109.800003,102.759262,48337000
9,2015-01-15,110.000000,110.059998,106.660004,106.820000,99.970337,60014000
10,2015-01-16,107.029999,107.580002,105.199997,105.989998,99.193558,78513300
11,2015-01-20,107.839996,108.970001,106.500000,108.720001,101.748512,49899900
12,2015-01-21,108.949997,111.059998,108.269997,109.550003,102.525291,48575900
13,2015-01-22,110.260002,112.470001,109.720001,112.400002,105.192535,53796400
14,2015-01-23,112.300003,113.750000,111.529999,112.980003,105.735344,46464800
15,2015-01-26,113.739998,114.360001,112.800003,113.099998,105.847649,55615000
16,2015-01-27,112.419998,112.480003,109.029999,109.139999,102.141586,95568700
17,2015-01-28,117.629997,118.120003,115.309998,115.309998,107.915932,146477100
18,2015-01-29,116.320000,119.190002,115.559998,118.900002,111.275742,84436400
19,2015-01-30,118.400002,120.000000,116.849998,117.160004,109.647324,83745500
20,2015-02-02,118.050003,119.169998,116.080002,118.629997,111.023064,62739100
21,2015-02-03,118.500000,119.089996,117.610001,118.650002,111.041771,51915700
22,2015-02-04,118.500000,120.510002,118.309998,119.559998,111.893402,70149700
23,2015-02-05,120.019997,120.230003,119.250000,119.940002,112.692047,42246200
24,2015-02-06,120.019997,120.250000,118.449997,118.930000,111.743088,43706600
25,2015-02-09,118.550003,119.839996,118.430000,119.720001,112.485352,38889800
26,2015-02-10,120.169998,122.150002,120.160004,122.019997,114.646355,62008500
27,2015-02-11,122.769997,124.919998,122.500000,124.879997,117.333511,73561800
28,2015-02-12,126.059998,127.480003,125.570000,126.459999,118.818039,74474500
29,2015-02-13,127.279999,127.279999,125.650002,127.080002,119.400589,54272200
...,...,...,...,...,...,...,...
725,2017-11-16,171.179993,171.869995,170.300003,171.100006,169.157410,23637500
726,2017-11-17,171.039993,171.389999,169.639999,170.149994,168.218185,21899500
727,2017-11-20,170.289993,170.559998,169.559998,169.979996,168.050110,16262400
728,2017-11-21,170.779999,173.699997,170.779999,173.139999,171.174255,25131300
729,2017-11-22,173.360001,175.000000,173.050003,174.960007,172.973587,25588900
730,2017-11-24,175.100006,175.500000,174.649994,174.970001,172.983475,14026700
731,2017-11-27,175.050003,175.080002,173.339996,174.089996,172.113464,20716800
732,2017-11-28,174.300003,174.869995,171.860001,173.070007,171.105042,26428800
733,2017-11-29,172.630005,172.919998,167.160004,169.479996,167.555801,41666400
734,2017-11-30,170.429993,172.139999,168.440002,171.850006,169.898895,41527200
735,2017-12-01,169.949997,171.669998,168.500000,171.050003,169.107971,39759300
736,2017-12-04,172.479996,172.619995,169.630005,169.800003,167.872177,32542400
737,2017-12-05,169.059998,171.520004,168.399994,169.639999,167.713974,27350200
738,2017-12-06,167.500000,170.199997,166.460007,169.009995,167.091141,28560000
739,2017-12-07,169.029999,170.440002,168.910004,169.320007,167.397629,25673300
740,2017-12-08,170.490005,171.000000,168.820007,169.369995,167.447037,23355200
741,2017-12-11,169.199997,172.889999,168.789993,172.669998,170.709595,35273800
742,2017-12-12,172.149994,172.389999,171.460007,171.699997,169.750595,19409200
743,2017-12-13,172.500000,173.539993,172.000000,172.270004,170.314117,23818400
744,2017-12-14,172.399994,173.130005,171.649994,172.220001,170.264694,20476500
745,2017-12-15,173.630005,174.169998,172.460007,173.970001,171.994812,40169300
746,2017-12-18,174.880005,177.199997,174.860001,176.419998,174.417007,29421100
747,2017-12-19,175.029999,175.389999,174.089996,174.539993,172.558350,27436400
748,2017-12-20,174.869995,175.419998,173.250000,174.350006,172.370514,23475600
749,2017-12-21,174.169998,176.020004,174.100006,175.009995,173.023026,20949900
750,2017-12-22,174.679993,175.419998,174.500000,175.009995,173.023026,16349400
751,2017-12-26,170.800003,171.470001,169.679993,170.570007,168.633423,33185500
752,2017-12-27,170.100006,170.779999,169.710007,170.600006,168.663101,21498200
753,2017-12-28,171.000000,171.850006,170.479996,171.080002,169.137650,16480200
754,2017-12-29,170.520004,170.589996,169.220001,169.229996,167.308640,25999900

#### Anotación #1
- Quisieramos indizar por fecha.

In [4]:
# Cargamos hoja de calculo en un dataframe
aapl = pd.read_csv(filepath, index_col='Date')
aapl

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2015-01-02,111.389999,111.440002,107.349998,109.330002,102.319397,53204600
2015-01-05,108.290001,108.650002,105.410004,106.250000,99.436890,64285500
2015-01-06,106.540001,107.430000,104.629997,106.260002,99.446251,65797100
2015-01-07,107.199997,108.199997,106.699997,107.750000,100.840714,40105900
2015-01-08,109.230003,112.150002,108.699997,111.889999,104.715256,59364500
2015-01-09,112.669998,113.250000,110.209999,112.010002,104.827553,53699500
2015-01-12,112.599998,112.629997,108.800003,109.250000,102.244522,49650800
2015-01-13,111.430000,112.800003,108.910004,110.220001,103.152313,67091900
2015-01-14,109.040001,110.489998,108.500000,109.800003,102.759262,48337000
2015-01-15,110.000000,110.059998,106.660004,106.820000,99.970337,60014000
2015-01-16,107.029999,107.580002,105.199997,105.989998,99.193558,78513300
2015-01-20,107.839996,108.970001,106.500000,108.720001,101.748512,49899900
2015-01-21,108.949997,111.059998,108.269997,109.550003,102.525291,48575900
2015-01-22,110.260002,112.470001,109.720001,112.400002,105.192535,53796400
2015-01-23,112.300003,113.750000,111.529999,112.980003,105.735344,46464800
2015-01-26,113.739998,114.360001,112.800003,113.099998,105.847649,55615000
2015-01-27,112.419998,112.480003,109.029999,109.139999,102.141586,95568700
2015-01-28,117.629997,118.120003,115.309998,115.309998,107.915932,146477100
2015-01-29,116.320000,119.190002,115.559998,118.900002,111.275742,84436400
2015-01-30,118.400002,120.000000,116.849998,117.160004,109.647324,83745500
2015-02-02,118.050003,119.169998,116.080002,118.629997,111.023064,62739100
2015-02-03,118.500000,119.089996,117.610001,118.650002,111.041771,51915700
2015-02-04,118.500000,120.510002,118.309998,119.559998,111.893402,70149700
2015-02-05,120.019997,120.230003,119.250000,119.940002,112.692047,42246200
2015-02-06,120.019997,120.250000,118.449997,118.930000,111.743088,43706600
2015-02-09,118.550003,119.839996,118.430000,119.720001,112.485352,38889800
2015-02-10,120.169998,122.150002,120.160004,122.019997,114.646355,62008500
2015-02-11,122.769997,124.919998,122.500000,124.879997,117.333511,73561800
2015-02-12,126.059998,127.480003,125.570000,126.459999,118.818039,74474500
2015-02-13,127.279999,127.279999,125.650002,127.080002,119.400589,54272200
...,...,...,...,...,...,...
2017-11-16,171.179993,171.869995,170.300003,171.100006,169.157410,23637500
2017-11-17,171.039993,171.389999,169.639999,170.149994,168.218185,21899500
2017-11-20,170.289993,170.559998,169.559998,169.979996,168.050110,16262400
2017-11-21,170.779999,173.699997,170.779999,173.139999,171.174255,25131300
2017-11-22,173.360001,175.000000,173.050003,174.960007,172.973587,25588900
2017-11-24,175.100006,175.500000,174.649994,174.970001,172.983475,14026700
2017-11-27,175.050003,175.080002,173.339996,174.089996,172.113464,20716800
2017-11-28,174.300003,174.869995,171.860001,173.070007,171.105042,26428800
2017-11-29,172.630005,172.919998,167.160004,169.479996,167.555801,41666400
2017-11-30,170.429993,172.139999,168.440002,171.850006,169.898895,41527200
2017-12-01,169.949997,171.669998,168.500000,171.050003,169.107971,39759300
2017-12-04,172.479996,172.619995,169.630005,169.800003,167.872177,32542400
2017-12-05,169.059998,171.520004,168.399994,169.639999,167.713974,27350200
2017-12-06,167.500000,170.199997,166.460007,169.009995,167.091141,28560000
2017-12-07,169.029999,170.440002,168.910004,169.320007,167.397629,25673300
2017-12-08,170.490005,171.000000,168.820007,169.369995,167.447037,23355200
2017-12-11,169.199997,172.889999,168.789993,172.669998,170.709595,35273800
2017-12-12,172.149994,172.389999,171.460007,171.699997,169.750595,19409200
2017-12-13,172.500000,173.539993,172.000000,172.270004,170.314117,23818400
2017-12-14,172.399994,173.130005,171.649994,172.220001,170.264694,20476500
2017-12-15,173.630005,174.169998,172.460007,173.970001,171.994812,40169300
2017-12-18,174.880005,177.199997,174.860001,176.419998,174.417007,29421100
2017-12-19,175.029999,175.389999,174.089996,174.539993,172.558350,27436400
2017-12-20,174.869995,175.419998,173.250000,174.350006,172.370514,23475600
2017-12-21,174.169998,176.020004,174.100006,175.009995,173.023026,20949900
2017-12-22,174.679993,175.419998,174.500000,175.009995,173.023026,16349400
2017-12-26,170.800003,171.470001,169.679993,170.570007,168.633423,33185500
2017-12-27,170.100006,170.779999,169.710007,170.600006,168.663101,21498200
2017-12-28,171.000000,171.850006,170.479996,171.080002,169.137650,16480200
2017-12-29,170.520004,170.589996,169.220001,169.229996,167.308640,25999900

In [5]:
# Graficar precios de cierre y precios de cierre ajustados
aapl[['Close', 'Adj Close']].plot(grid=True)

#### Anotación #2
- Para nuestra aplicación solo nos interesan los precios de cierre de las acciones (columna Adj Close).

In [6]:
# Cargamos hoja de calculo en un dataframe
aapl = pd.read_csv(filepath,
                   index_col=['Date'],
                   usecols=['Date', 'Adj Close']
                  )
aapl

             Adj Close
Date
2015-01-02  102.319397
2015-01-05   99.436890
2015-01-06   99.446251
2015-01-07  100.840714
2015-01-08  104.715256
2015-01-09  104.827553
2015-01-12  102.244522
2015-01-13  103.152313
2015-01-14  102.759262
2015-01-15   99.970337
2015-01-16   99.193558
2015-01-20  101.748512
2015-01-21  102.525291
2015-01-22  105.192535
2015-01-23  105.735344
2015-01-26  105.847649
2015-01-27  102.141586
2015-01-28  107.915932
2015-01-29  111.275742
2015-01-30  109.647324
2015-02-02  111.023064
2015-02-03  111.041771
2015-02-04  111.893402
2015-02-05  112.692047
2015-02-06  111.743088
2015-02-09  112.485352
2015-02-10  114.646355
2015-02-11  117.333511
2015-02-12  118.818039
2015-02-13  119.400589
...                ...
2017-11-16  169.157410
2017-11-17  168.218185
2017-11-20  168.050110
2017-11-21  171.174255
2017-11-22  172.973587
2017-11-24  172.983475
2017-11-27  172.113464
2017-11-28  171.105042
2017-11-29  167.555801
2017-11-30  169.898895
2017-12-01  169.107971
2017-12-04  167.872177
2017-12-05  167.713974
2017-12-06  167.091141
2017-12-07  167.397629
2017-12-08  167.447037
2017-12-11  170.709595
2017-12-12  169.750595
2017-12-13  170.314117
2017-12-14  170.264694
2017-12-15  171.994812
2017-12-18  174.417007
2017-12-19  172.558350
2017-12-20  172.370514
2017-12-21  173.023026
2017-12-22  173.023026
2017-12-26  168.633423
2017-12-27  168.663101
2017-12-28  169.137650
2017-12-29  167.308640

[755 rows x 1 columns]

**Actividad.** Importen todos los archivos .csv como acabamos de hacerlo con el de apple. Además, crear un solo DataFrame que cuyos encabezados por columna sean los nombres respectivos (AAPL, AMZN,GFNORTEO.MX,GFINBURO.MX) y contengan los datos de precio de cierre.

## 2. Descargar los datos remotamente
Para esto utilizaremos el paquete *pandas_datareader*.

**Nota**: Usualmente, las distribuciones de Python no cuentan, por defecto, con el paquete *pandas_datareader*. Por lo que será necesario instalarlo aparte:
- buscar en inicio "Anaconda prompt" y ejecutarlo como administrador;
- el siguiente comando instala el paquete en Anaconda: *conda install pandas-datareader*;
- una vez finalice la instalación correr el comando: *conda list*, y buscar que sí se haya instalado pandas-datareader

In [7]:
# Importar el modulo data del paquete pandas_datareader. La comunidad lo importa con el nombre de web

El módulo data del paquete pandas_datareader contiene la funcion `DataReader`:

In [8]:
# Función DataReader

- A esta función le podemos especificar la fuente de los datos para que se use la api específica para la descarga de datos de cada fuente.
- Fuentes:
 - Google Finance: su api ya no sirve.
 - Quandl: necesita registrarse para obtener un api key.
 - IEX: los datos tienen antiguedad máxima de 5 años y de equities estadounidenses.
 - Yahoo! Finance: su api ha tenido cambios significativos y ya no es posible usarla desde DataReader. Sin embargo permite obtener datos de distintas bolsas (incluida la mexicana), por eso le haremos la luchita.

In [9]:
# Ejemplo google finance

In [10]:
# Ejemplo iex

In [11]:
# Ejemplo yahoo

Sin embargo no se pueden descargar varios a la vez. Intentémoslo hacer nosotros así sea de manera rudimentaria:

In [12]:
# Función para descargar precios de cierre ajustados:
def get_adj_closes(tickers, start_date=None, end_date=None):
    # Fecha inicio por defecto (start_date='2010-01-01') y fecha fin por defecto (end_date=today)
    # Descargamos DataFrame con todos los datos
    closes = web.DataReader(name=tickers, data_source='yahoo', start=start_date, end=end_date)
    # Solo necesitamos los precios ajustados en el cierre
    closes = closes['Adj Close']
    # Se ordenan los índices de manera ascendente
    closes.sort_index(inplace=True)
    return closes

A veces, no lee a la primera. La api es inestable. Intentar varias veces.

**Nota**: Para descargar datos de la bolsa mexicana de valores (BMV), el ticker debe tener la extensión MX. 
Por ejemplo: *MEXCHEM.MX*, *LABB.MX*, *GFINBURO.MX* y *GFNORTEO.MX*.

In [13]:
# Ejemplo: 'AAPL', 'MSFT', 'NVDA', '^GSPC'

In [14]:
# Gráfico

**Conclusión**
- Aprendimos a importar datos desde archivos locales.
- Aprendimos a importar datos remotamente con el paquete pandas_datareader. Queda pendiente Infosel (después vemos esto).

¿Ahora qué? Pues con estos históricos, obtendremos los rendimientos y ellos nos servirán como base para caracterizar la distribución de rendimientos... 

### ¡Oh, si!

# Anuncios parroquiales:
## 1. Recordar quiz (clase 4) la siguiente clase.
## 2. Recordar Entrega 2 Tarea 1 para mañana.

<script>
  $(document).ready(function(){
    $('div.prompt').hide();
    $('div.back-to-top').hide();
    $('nav#menubar').hide();
    $('.breadcrumb').hide();
    $('.hidden-print').hide();
  });
</script>

<footer id="attribution" style="float:right; color:#808080; background:#fff;">
Created with Jupyter by Esteban Jiménez Rodríguez.
</footer>