Considere el siguiente reporte de rendimientos de las acciones de la compañía Alpha en los últimos cinco años.

| Año | Rendimiento |
| --- | ----------- |
| 1   | -10%       |
| 2   | -20%        |
| 3   | 30%        |
| 4   | 20%        |
| 5   | 15%        |

¿Cuál es el rendimiento medio geométrico?

In [1]:
import pandas as pd
import numpy as np

In [2]:
tabla = pd.DataFrame({'ret':[-0.1, -0.2, 0.3, 0.2, 0.15]})
tabla

    ret
0 -0.10
1 -0.20
2  0.30
3  0.20
4  0.15

In [3]:
rg = (1+tabla['ret']).prod()**(1/5)-1
rg

0.05252152674847621

In [4]:
Er = tabla.mean()
Er

ret    0.07
dtype: float64

In [8]:
sr = tabla.std(ddof=1)
sr

ret    0.21095
dtype: float64

Considere el siguiente reporte de rendimientos de cierta acción en los últimos tres años

| Año | Rendimiento |
| --- | ----------- |
| 1   | -0.10       |
| 2   | 0.20        |
| 3   | 0.30        |

¿Cuál es el rendimiento medio geométrico?

In [9]:
tabla = pd.DataFrame({'ret':[-0.1, 0.2, 0.3]})
tabla

   ret
0 -0.1
1  0.2
2  0.3

In [11]:
rg = (1+tabla['ret']).prod()**(1/3)-1
rg

0.1197533470451746

In [12]:
Er = tabla.mean()
Er

ret    0.133333
dtype: float64

Con base en la siguiente distribución de rendimientos para el activo A,

| Probabilidad | Rendimiento |
| ------------ | ----------- |
| 0.3          | 0.10        |
| 0.4          | 0.05        |
| 0.3          | 0.30        |

¿Cuál es su desviación estándar?

In [13]:
tabla = pd.DataFrame({'prob':[0.3, 0.4, 0.3], 'ret':[0.1, 0.05, 0.3]})
tabla

   prob   ret
0   0.3  0.10
1   0.4  0.05
2   0.3  0.30

In [14]:
Er = (tabla['prob']*tabla['ret']).sum()
Er

0.14

In [15]:
sr = (tabla['prob']*(tabla['ret']-Er)**2).sum()**0.5
sr

0.10677078252031309