In [1]:
import pandas as pd
import numpy as np

In [3]:
tabla = pd.DataFrame(columns=['ret'])
tabla['ret'] = [0.12, -0.1, 0.05]
tabla

    ret
0  0.12
1 -0.10
2  0.05

In [4]:
rT = (1+tabla['ret']).prod()-1

In [5]:
rT

0.05840000000000023

In [6]:
tabla = pd.DataFrame(columns=['prob','ret'])
tabla['prob'] = [0.4, 0.3, 0.3]
tabla['ret'] = [0.1, 0.2, 0.4]
tabla

   prob  ret
0   0.4  0.1
1   0.3  0.2
2   0.3  0.4

In [7]:
Er = (tabla['prob']*tabla['ret']).sum()
Er

0.22

In [8]:
sr = np.sqrt((tabla['prob']*(tabla['ret']-Er)**2).sum())
sr

0.12489995996796797